# GUI related packages

# Excel processing related packages
pandas>=2.0.0
openpyxl>=3.1.0
et_xmlfile>=1.1.0  # Dependency for openpyxl

# Basic packages
numpy==2.2.1  # Dependency for pandas
python-dateutil==2.9.0.post0  # Dependency for pandas
pytz==2024.2  # Dependency for pandas
tzdata==2024.2  # Time zone data
six==1.17.0  # Dependency for python-dateutil

# Packaging related packages (only needed during development)
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
altgraph==0.17.4  # Dependency for pyinstaller

# Testing related packages (only needed during development)
pytest==8.1.1

# Others
setuptools==75.7.0  # Basic tools
packaging==24.2  # Dependency management 